.sideBarFooter_main {
  @apply flex gap-6 my-2 cursor-pointer text-white;
  margin-left: 25%;
}

.sideBarFooterClose {
  margin-left: 40%;
}
.menuitem_main {
  @apply flex flex-col bg-indigo-700  text-white w-fit mx-auto;
}
.menu_inactive {
  @apply left-0 flex gap-6 my-2 cursor-pointer text-white px-4 py-0.5 w-fit items-center;
}
.menu_active {
  @apply flex gap-6  my-2 cursor-pointer bg-gray-25 text-indigo-900 rounded-lg px-4 py-0.5;
}
.imagemenu_active {
  filter: brightness(0) saturate(100%) invert(17%) sepia(16%) saturate(6763%) hue-rotate(229deg) brightness(93%) contrast(92%);
}
