.asterik {
  color: red;
  margin-left: 5px;
  font-weight: 600;
  font-size: 12px;
}
.selectlabel {
  margin-bottom: 0px;
}
#selectcontainer {
  margin-top: 3px;
  width: 100%;
  white-space: nowrap;
  font-size: 100%;
}
::-webkit-scrollbar {
  width: 4px;
}
.errormessage {
  color: red;
  font-size: 12px;
  margin: 2px 0px 0px 10px;
}
input:focus {
  box-shadow: none !important;
}
.select-input:focus {
  box-shadow: none !important ;
}
.css-181qgi4-control {
  height: 'auto' !important;
}
